#missionn{
    padding-bottom: 128px;
    .mission_text{
        h6{
            font-weight: 500;
        }
        h4{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
            line-height: 56px;
        }
        span{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
        }
        p{
            line-height: 28px;
            color: #282938;
            opacity: 0.7;
        }
    }
}
.mission2{
    padding: 128px 0;
    background-color: #EEF4FA;
    .mission_text{
        h6{
            font-weight: 500;
        }
        h4{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
            line-height: 56px;
        }
        span{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
        }
        p{
            line-height: 28px;
            color: #282938;
            opacity: 0.7;
        }
    }
}
.mission3{
    padding: 128px 0;
    background: rgba(252, 217, 128, 0.1);
    .mission_text{
        h6{
            font-weight: 500;
        }
        h4{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
            line-height: 56px;
        }
        span{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
        }
        p{
            line-height: 28px;
            color: #282938;
            opacity: 0.7;
        }
    }
}
.missioon{
    padding-bottom: 128px;
    .mission_text{
        h6{
            font-weight: 500;
        }
        h4{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
            line-height: 56px;
        }
        span{
            width: 624px;
            color: #282938;
            font-size: 38px;
            font-weight: 600;
        }
        p{
            line-height: 28px;
            color: #282938;
            opacity: 0.7;
        }
    }
}
